<div class="container">

  <div class="page-header">
    <h1>Riddles <small>Are fun.</small></h1>
  </div>
  <ul>
    <div class="row">
    {{#each model.messages as |message|}}
    {{question-popularity message}}  {{message-tile message=message}}
    {{/each}}
      </div>
  </ul>

  {{new-message saveMessage="saveMessage"}}


</div>
