<div class="container">

  <h2>More information about the riddle you've selected.</h2> {{update-message message=model update="update"}}

  {{message-detail message=model destroyMessage="destroyMessage" destroyAnswer="destroyAnswer"}}
  <br>
  <br> {{new-answer saveAnswer="saveAnswer" message=model}}

</div>
