<div class="container">
 <p> {{update-message message=model update="update"}}
  <h2>More information about the riddle you've selected.</h2> </p>
  <div class="row">
    {{message-detail message=model destroyMessage="destroyMessage" destroyAnswer="destroyAnswer"}} 
  </div>
  <div class="row">
    {{new-answer saveAnswer="saveAnswer" model=model}}
  </div>
</div>