<div class="container">

  <h2>More information about the riddle you've selected.</h2>
  {{update-message message=model update="update"}}

  {{message-detail message=model destroyMessage="destroyMessage"}}

  {{new-answer saveAnswer="saveAnswer" message=model}}

</div>
